/*CSS LOGIN*/
.login-container{
	max-width: 400px;
	margin: auto;
	padding: 30px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	border: solid grey 2px;
}

.error{
	color: tomato; 
	font-size: 12px;
	padding-top: 4px
}

.bg-semitransparent{
	background: rgba(255,255,255,0.8);
}

/*BODY BACKGROUND*/
.header{
	background-image: url(../images/login_background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/*HOME BODY*/
.homeBody{
	width: 100%;
	height: 100%;
}