<div class="col-12" style="text-align: center; margin: 10px">
	<div class="container same-row">
		<div class="col-md-3 padding-16 same-col" style="float: left;">
			<div class="photo-container">
				<div class="row">
					<div class="col-md-12">
						<img class="datadiri" src="../images/data_diri.jpg">
						<h4>KELVIN TRYANTO</h4>
						<h5>14110110101</h5>
					</div>
				</div>
			</div>
		</div>	
		<div id="lib-reference" class="col-md-9 padding-16 same-col">
			<div class="reference-library">
				<div class="row">
					<div class="col-md-12 padding-16">
						<h1>Reference Library</h1>
						<ul>
							<li><a href="https://jquery.com/" target="blank"><img src="../images/jquery.png"></a></li>
							<li><a href="https://angular.io/" target="blank"><img src="../images/angular.png"></a></li>
							<li><a href="https://getbootstrap.com/" target="blank"><img src="../images/bootstrap.png"></a></li>
							<li><a href="https://fontawesome.bootstrapcheatsheets.com/" target="blank"><img src="../images/font-awesome.png"></a></li>
							<li><a href="https://momentjs.com//" target="blank"><img src="../images/moment.png"></a></li>
						</ul>
					</div>					
				</div>			
			</div>		
		</div>	
	</div>	
</div>