<div class="container" id="home">
	<h2 class="bottom">Now Playing</h2>
	<div class="row">
		
	</div>
</div>

<!-- Buat Javascript dari sini sampai bawah -->
<!-- <div class="col-sm-6 bottom-15">
		<div class="card">
			<div class="card-body">
				<img class="col-4 home-img" src="https://image.tmdb.org/t/p/w500/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg">
				<div class="info col-8">
					<div class="col-12 clear-pad">
						<div class="bottom-30">
							<h4>Title of Movie</h4>
							<span>Release Date</span>
						</div>
						<div>
							<p class="overview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod mpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="card-footer home-footer">
							<p class="bottom-0">
								<i class="fa fa-film"></i>
								<a href="/details" class="hidden-sm">Details</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!-- sampe sini -->